.boton {
    font-family: "Nova Flat", system-ui;
    font-weight: 400;
    font-style: normal;
    background-color: white;
    color: #333;
    border: none;
    border-radius: 12px;
    padding: 30px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    width: 180px;
}
.boton:hover {
    transform: translateY(-5px);
    background-color: #007bff;
    color: white;
}

body {
  font-family: "Nova Flat", system-ui;
  font-weight: 400;
  font-style: normal;
}

.contenedor-principal {
    display: flex;            
    flex-direction: column;   
    align-items: center;      
    justify-content: top;  
    min-height: 100vh;        
    background-color: #f0f2f5; 
}
span {
    color: #a6a4a4;

}